.root {
  display: flex;
  width: 98%;
  height: 100%;
  min-width: 98%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  gap: 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  margin-left: 1vw;
}
.subdiv {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  gap: 1vw 1vw;
  margin: 1vw;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  overflow: visible;
  justify-content: start;
  align-self: start;
  flex-basis: 0px;
}
