.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {

  width: 100%;
  height: 6vh;
  margin: 0px 5px 0px 0vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 6vh;
  align-items: center;
  justify-items: center;
  align-content: end;
  justify-content: start;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  min-height: 5vh;
  flex-grow: 0;
}

.search_box{
  margin: 1vh 1vh 1vh 1vw;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input_search{
  box-sizing: border-box;
  height: 5vh;
  width: 1vw;
  
  // max-height: 5vh;
  // max-width: 3vw;

  // min-height: 5vh;
  // min-width: 3vw;

  border-style: none;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #f9aa5d;
  padding-right: 40px;
  color: #02b9ff;
}
.input_search::placeholder{
  box-sizing: border-box;
  color: #02b9ff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}

.icon_search {
  display: inline-block;
  margin-top: 0.5vh;
  padding: auto;
  width: 35px;
  height: 35px; 
  background-size: cover; 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%20-0.5%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.5%2011.1455C5.49956%208.21437%207.56975%205.69108%2010.4445%205.11883C13.3193%204.54659%2016.198%206.08477%2017.32%208.79267C18.4421%2011.5006%2017.495%2014.624%2015.058%2016.2528C12.621%2017.8815%209.37287%2017.562%207.3%2015.4895C6.14763%2014.3376%205.50014%2012.775%205.5%2011.1455Z%22%20stroke%3D%22%23000000%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M15.989%2015.4905L19.5%2019.0015%22%20stroke%3D%22%23000000%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}


.btn_search{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #02b9ff;
  background-color:transparent;
  pointer-events: painted;  
}
.btn_search:focus ~ .input_search{
  box-sizing: border-box;
  width: 600px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #02b9ff;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input_search:focus{
  box-sizing: border-box;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #02b9ff;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.genralpanel {
  width: 100%;
  height: 100%;
}
.tabpanel {
  width: 100%;
  height: 100%;
  margin: 0px;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.searchbar {
  height: 3vh;
  width: 70vh;
  min-width: 50vh;
  max-width: 70vh;
  min-height: 3vh;
  max-height: 3vh;
  margin: 1vh;

}

.btn_connect {
  width: 8vw;
  height: 5vh;
  min-width: 8vw;
  min-height: 5vh;
  max-width: 8vw;
  max-height: 5vh;
  position: absolute;
  align-self: center;
  font-family: Fira Code, monospace;
  top: 0px;
  right: 0px;
  margin: 5px 15px 5px 5px;
  border: none;
  border-radius: 10px;
  background-color: rgba(249, 170, 93, 1);
  color: #fff;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.connectbtn:hover {
  box-shadow: .5px .5px 150px #252525;
}




.btn_disconnect {
  width: 8vw;
  height: 5vh;
  min-width: 8vw;
  min-height: 5vh;
  max-width: 8vw;
  max-height: 5vh;
  position: absolute;
  align-self: center;
  font-family: Fira Code, monospace;
  top: 0px;
  right: 0px;
  margin: 5px 15px 5px 5px;
  border: none;
  border-radius: 10px;
  background-color: rgba(249, 170, 93, 0.3);
  color: #fff;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.5s ease-in-out;
}


.connectbtn.connected::after {
  transform: translateY(0) scale(1.2);
}

.connectbtn.connected::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
