.root {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  font-family: Fira Code, monospace;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin-top: 3%;
  margin-left: 1vw;
}
.form-container {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  padding: 0 2rem;
}

.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 75vw;
  max-width: 150vw;
  max-height: 150vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
  flex-wrap: wrap;
}

.card_image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
 
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
  max-width: 25vw;
  display: block;
}

.card_heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}

.card_form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  appearance: none;
  border-radius: 0;
}

.input + .input {
  margin-top: 1.5rem;
}

.input_label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input_field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}

.input_field:focus,
.input_field:valid {
  outline: 0;
  border-bottom-color: #04b8ff;
}

.input_field:hover + .input_label {
  color: #04b8ff;
  border-bottom-color: #04b8ff;
}


.input_field:focus + .input_label,
.input_field:valid + .input_label {
  color: #04b8ff;
  transform: translateY(-1.5rem);
}

.action {
  margin-top: 2rem;
}

.action_button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 10vw;
  font-weight: 500;
  background-color: #04b8ff;
  border-radius: 6px;
  color: #fff;
  border: 0;
}

.action_button:focus {
  outline: 0;
  background: rgba(4, 184, 255, 0.5);
}

.action_button:hover {
  background: rgba(4, 184, 255, 0.5);
}

.card_info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}

.card_info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

/* File Input styles */
input[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  font-weight: 500;
  background: #04b8ff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

input[type='file']::file-selector-button:hover {
  background: rgba(4, 184, 255, 0.5);
}

.drop_container {
  margin-top: 1vh;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  // transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop_container:hover {
  background: #eee;
  border-color: #111;
}

.drop_container:hover .drop_title {
  color: #222;
}

.drop_title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.drop_container.drag_active {
  background: #eee;
  border-color: #111;
}

.drop_container.drag_active .drop_title {
  color: #222;
}


