.root {
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  align-content: start;
  height: 100vh;
  width: 35vh;
  min-width: 35vh;
  min-height: 100vh;
  max-width: 35vh;
  max-height: 100vh;
  font-family: Fira Code, monospace;
  border: 1px dashed #e6e6e6;
  border-bottom: 0px dashed #e6e6e6;
  border-left: 0px dashed #e6e6e6;
  border-top: 0px dashed #e6e6e6;
  
}
.logodiv {
  height: 10vh;
  width: 20vh;
  min-height: 10vh;
  min-width: 20vh;
  max-height: 10vh;
  max-width: 20vh;
}

.menulist {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px 20px;
  align-self: center;
  overflow: visible;
  align-items: center;
  justify-items: center;
  
}
.listItem {
  border: 0px solid black;
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  height: 5vh;
  width: 25vh;
  min-width: 25vh;
  min-height: 5vh;
  max-width: 25vh;
  max-height: 5vh;
}

.listItem:hover {
  color: #f9aa5d;
  cursor: pointer;
  
}



.limg {
  width: 3vh;
  height: 3vh;
  margin-right: 5px;
  margin-left: 5px;
}

.limg:hover {
  color: #f9aa5d;
  
}


.logo {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
